{% extends "cover.html" %}

{% block title %}Modem in attesa{% endblock %}

{% block script %}

<script type="text/javascript">
var start = new Date;
var timeout = "{{ timeout }}";


setInterval(function() {
	var timer = timeout - Math.round((new Date - start) / 1000);
	if (timer > 0)
    	$('.timer').text(timer);
	else {
		$('.timer').text(":-(");
		$('.caption').text("Tempo scaduto")
	}
}, 1000);
</script>

{% endblock %}

{% block lead %}<span class="caption">Suona il campanello prima dello scadere del tempo</span>{% endblock %}
{% block cover-heading %}<span class="timer">{{ timeout }}</span>{% endblock %}