{% extends "base.html" %}

{% block title %}Modem in attesa{% endblock %}

{% block script %}

<script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
<script type="text/javascript">
var start = new Date;
var timeout = "{{ timeout }}";


setInterval(function() {
	var timer = timeout - Math.round((new Date - start) / 1000);
	if (timer > 0)
    	$('.timer').text(timer);
	else {
		$('.timer').text(":-(");
		$('.caption').text("Tempo scaduto")
	}
}, 1000);
</script>

{% endblock %}

{% block content %}
<h4 class="caption" style="text-align:center;">Tempo per suonare</h4>
<h1 class="timer" style="text-align:center;"></h1>
{% endblock %}